{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}
    <br><br><br><br><br><br>
    <div class="container" style="background: rgba(255, 255, 255, 0.3);border-radius: 35px;high:auto;width:750px;"><br>
    <h1 class="h3 mb-3 font-weight-normal" style="color:  #EC9F57;font-family:Arvo;">Please sign in</h1>
    <label for="inputEmail"  style ="color:#ffff;font-family:Roboto;">Email</label>
    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus width:100px>
    <label for="inputPassword"  style ="color:#ffff;font-family:Roboto;">Password</label>
    <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}">


        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"  style ="color:#ffffff;font-family:Roboto;"> Remember me
            </label>
        </div>
    

    <button class="btn btn-lg btn-primary" type="submit"   style ="background: #EC9F57; border-radius: 10px; font-family: 'Arvo';color: #FFFFFF;border:none;">
        Sign in
    </button>
    <br><br>
    </div>
</form>
{% endblock %}
