{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
 <br><br><br><br><br><br>
    <div class="container" style="background: rgba(255, 255, 255, 0.3);border-radius: 35px;high:auto;width:750px;"><br>
    <h1 class="h3 mb-3 font-weight-normal" style="color:  #EC9F57;font-family:Arvo;">Register</h1>

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword, { label: 'Password' }) }}
        {{ form_row(registrationForm.agreeTerms) }}

        <button type="submit" class="btn" style ="background: #EC9F57; border-radius: 10px; font-family: 'Arvo';color: #FFFFFF;border:none;">Register</button>
        <br>
    {{ form_end(registrationForm) }}
    </div>
{% endblock %}
