<!DOCTYPE html>
<html lang="en" class="h-100">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>STAGI - {% block title %}{% endblock %}</title>
    {% block stylesheets %}
        <!-- Bootstrap icons-->
        <link href="{{ asset('assets/bootstrap-icons/bootstrap-icons.css') }}" rel="stylesheet"/>
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{{ asset('css/styles.css') }}" rel="stylesheet"/>
        <link href="{{ asset('css/custom.css') }}" rel="stylesheet"/>
    {% endblock %}
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="{{ asset('assets/favicon.ico') }}"/>
</head>
<body class="d-flex flex-column h-100">
<!-- Responsive navbar-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container px-lg-5">
        <a class="navbar-brand" href="{{ path('app_home') }}">STAGI</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span
                    class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link active" aria-current="page" href="{{ path('app_home') }}">Accueil</a>
                </li>
                <li class="nav-item"><a class="nav-link" href="{{ path('app_company') }}">Entreprises</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ path('app_student') }}">Étudiants</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ path('app_offer') }}">Offres</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ path('app_contact') }}">Contact</a></li>
            </ul>
        </div>
        <div class="collapse navbar-collapse justify-content-end" id="navbarResponsive">
            <ul class="navbar-nav ms-auto">
                {% if app.user %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            {{ app.user.fullName|title }}
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="{{ path('app_profile_me') }}">Profile</a></li>
                            <li><a class="dropdown-item" href="{{ path('app_change_password') }}">Mot de passe</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="{{ path('app_logout') }}">Déconnexion</a></li>
                        </ul>
                    </li>
                {% else %}
                    <li class="nav-item"><a class="nav-link" href="{{ path('app_login') }}">Connexion</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ path('app_register') }}">Inscription</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
<!-- Begin page content -->
<main class="flex-shrink-0">
    <div class="container">
        <br>
        {% block body %}

        {% endblock %}
    </div>
</main>

<!-- Footer-->
<footer class="footer mt-auto py-3 bg-dark">
    <div class="container text-center">
        <span class="text-muted">Copyright &copy; STAGI {{ "now"|date('Y') }}</span>
    </div>
</footer>
{% block javascripts %}
    <!-- Bootstrap core JS-->
    <script src="{{ asset('js/bootstrap.bundle.min.js') }}"></script>
    <!-- Core theme JS-->
    <script src="{{ asset('js/scripts.js') }}"></script>
{% endblock %}
</body>
</html>
